@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-logo svg {
    fill: #b5d1ff;
}

.banner-logo.active svg {
    fill: white;
}

.input-wrapper--radio-group input:checked + label {
    color: #ffffff;
    background: #67a0f6;
}

.input-wrapper--radio-group label:first-of-type {
    border-radius: 22px 0 0 22px;
}

.input-wrapper--radio-group label {
    margin-right: 3px;
    padding: 8px 24px;
    background: #f2f2f2;
    color: #444444;
    cursor: pointer;
    transition: background var(--transition-base), color var(--transition-base);
}

.input-wrapper--radio-group label:last-of-type {
    margin-right: 0;
    border-radius: 0 22px 22px 0;
}

@layer components {
    .wrapper {
        @apply flex justify-center items-center overflow-hidden pt-[40px] pr-[20px] pb-[80px] pl-[20px] bg-[#f6f8fb]
    }

    .main {
        @apply shrink-0 w-[920px] pt-[64px] pb-[80px] pl-[76px] pr-[76px] m-auto bg-white
    }

    .h2 {
        @apply text-4xl font-bold mb-8
    }

    .btn {
        @apply relative inline-block shrink-0 w-[auto] m-0 overflow-hidden
        text-xl font-bold border-0 text-white tracking-wider uppercase text-center
        bg-[#67a0f6] outline-none cursor-pointer select-none rounded-md
        pt-[15px] pl-[32px] pb-[15px] pr-[32px]

        hover:bg-[#397de1]
    }

    .hidden-radio-input {
        @apply absolute w-[1px] h-[1px] m-[-1] outline-none
    }
}

@layer utilities {
    .transition-custom {
        transition: all 0.15s ease-in-out;
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
    }

    .testIt {
        clip: rect(0px, 0px, 0px, 0px);
    }

    .input {
        width: 100%;
        height: 56px;
        padding: 15px 32px;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        border: 2px solid #e2e2e2;
        border-radius: 4px;
        transition: border 0.15s ease-in-out;
        caret-color: #aaaaaa;
    }
}

.range-slider-wrapper {
    width: 484px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 42px;
    height: 8px;
    background: #f2f2f2;
    border-radius: 4px;
    border-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 108px;
    height: 8px;
    background: #67a0f6;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

input[type="range"]::-webkit-slider-thumb::after {
    width: 20px;
    heigh: 20px;
    background-color: red;
}





.range-slider-thumb__stripe {
    display: block;
    margin: 0 2px;
    width: 2px;
    height: 4px;
    background: #ffffff;
    border-radius: 1px;
}

.range-slider-tooltip {
    position: absolute;
    top: 42px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    width: 99px;
    height: 28px;
    background: #67a0f6;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    user-select: none;
}

.range-slider-tooltip:after {
    top: 100%;
    left: 50%;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid transparent;
    border-top-color: #67a0f6;
    margin-left: -5px;
}

.range-slider-tips {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #aaaaaa;
    user-select: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

